# OS junk files
[Tt]humbs.db
*.DS_Store

# Visual Studio files
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.resources
*.res
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
*.gpState

# Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
*.nvuser

# Project files
#[Bb]uild/

# Subversion files
.svn

# NuGet packages
!.nuget/*
[Pp]ackages/*
![Pp]ackages/repositories.config

# Office Temp Files
~$*